/* comment */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Background color for the page */
body {
    background-color: #d9dcd6;
}
/* Background color, font family, font color, and padding for all headers*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Font size for header 1 and disply as inline block */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Font color for "seo" in h1 */
header h1 .seo {
    color: #d9dcd6;
}
/* Positioning, font family, and font size for headers in nav bar */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Remove styling from unordered list in header */
header nav ul {
    list-style-type: none;
}
/* Margin and display list items as inline block */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Font color for links */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Format hero image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Set width and positioning for left sections */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Size, positioning, font family, background and font color for right-side section */
.article-main {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Height for images in right-side section */
.article-main img {
    max-height: 200px;
}
/* Margin and font size for header 2 in right-side section */
.article-main h2, {
    margin-bottom: 20px;
    font-size: 36px;
}
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
/* Font size for paragraphs */
p {
    font-size: 16px;
}
/* Set size, positioning, font-family and background color for right sections */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Bottom margin and font color for text in aside */
.article-side {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Bottom margin and alignment for header 3 in aside */
.article-side h3, {
    margin-bottom: 10px;
    text-align: center;
}
/* Block display, margin and width for images in aside */
.article-side img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Footer padding, font family and text alignment, clear postioning */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Footer heading 2 font size */
footer h2 {
    font-size: 20px;
}